<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add an operation</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bank/index.css' %}">

</head>
<body>


{% with 'add_operation' as page_name %}
    {% include 'bank/header.html' %}
{% endwith %}

<br>

<form method="POST" class="post-form">{% csrf_token %}
    {{ operation_form }}
    <br>
    <button type="submit" name="return">Add and Return</button>
    <button type="submit" name="add_another">Add and Add another</button>
</form>

</body>
</html>