{% if operation_list %}
  <table style="width:60%">
        <th> Name</th>
        <th> Amount</th>
        <th> Budget </th>
        <th> Check </th>
        {% for operation in operation_list %}

      <tr style="cursor:pointer" >
                    <td class="operation_name" onClick="location.href='{% url 'bank:edit_operation' operation.id %}';"> {{ operation.name }} </td>
                    <td class="amount" nowrap> &euro; {{ operation.amount }}  </td>
                    <td class="budget" nowrap> {{ operation.budget }}  </td>
                    <td class="check" nowrap> <input type='checkbox' {% ifequal operation.check True %}checked{% endifequal %}>  </td>

      </tr>
      {% endfor %}
      {% if total %}
            <tfoot >
                    <td class="tfoot"> Total </td>
                    <td class="tfoot" nowrap> &euro; {{ total }}  </td>
                    <td class="tfoot" nowrap>  </td>


            </tfoot>
      {% endif %}
  </table>
{% else %}
    <p>No operations found.</p>
{% endif %}