{% if operation_list %}
  <table style="width:60%">
        <th> Name</th>
        <th> Amount</th>
        <th> Budget </th>
        <th> Check </th>
        {% for operation in operation_list %}

      <tr style="cursor:pointer" >
                    <td class="operation_name" onClick="location.href='/bank/operation/{{ operation.id }}/';"> {{ operation.name }} </td>
                    <td class="amount" nowrap> &euro; {{ operation.amount }}  </td>
                    <td class="budget" nowrap> {{ operation.budget }}  </td>
                    <td class="check" nowrap> <input type='checkbox' {% ifequal operation.check True %}checked{% endifequal %}>  </td>

      </tr>
      {% endfor %}
  </table>
{% else %}
    <p>No operations are available.</p>
{% endif %}