<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bank/index.css' %}">

</head>
<body>

{% include 'bank/header.html' %}

{% with operation_list as operation_list %}
    {% include 'bank/display_operations.html' %}
{% endwith %}


{% if account_list %}
    <ul>
        {% for account in account_list %}
            <li>{{account.name}} : &euro; {{account.current_balance}}</li>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>