<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bank/index.css' %}">

</head>
<body>

<table cellspacing="0" cellpadding="0">
    <tr>
        <td><a href="#">Current Operations</a></td>
        <td><a href="search">Search Operations</a></td>
    </tr>
</table>

{% if operation_list %}
  <table style="width:60%">
        <th> Name</th>
        <th> Amount</th>
        <th> Budget </th>
        {% for operation in operation_list %}

                <tr style="cursor:pointer" onClick="location.href='/bank/{{ operation.id }}/';">
                    <td class="operation_name"> {{ operation.name }} </td>
                    <td class="amount" nowrap> &euro; {{ operation.amount }}  </td>
                    <td class="budget" nowrap> {{ operation.budget }}  </td>
                </tr>
            </a>
        {% endfor %}
    </table>
    </ul>
{% else %}
    <p>No operations are available.</p>
{% endif %}

{% if account_list %}
    <ul>
        {% for account in account_list %}
            <li>{{account.name}} : &euro; {{account.balance}}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="POST" class="post-form">{% csrf_token %}
    {{ operation_form }}
    <button type="submit" >Add</button>
</form>

</body>
</html>