<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bank/index.css' %}">

</head>
<body>

<table cellspacing="0" cellpadding="0">
    <tr>
        <td><a href="#">Current Operations</a></td>
        <td><a href="search">Search Operations</a></td>
        <td><a href="add_operation">Add Operation</a></td>
    </tr>
</table>

{% with operation_list as operation_list %}
    {% include 'bank/display_operations.html' %}
{% endwith %}


{% if account_list %}
    <ul>
        {% for account in account_list %}
            <li>{{account.name}} : &euro; {{account.current_balance}}</li>
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>