{% block content %}


<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bank/index.css' %}">

</head>


<table cellspacing="0" cellpadding="0">
    <tr>
        <td><a href="../">Current Operations</a></td>
        <td><a href="#">Search Operations</a></td>
        <td><a href="../add_operation">Add Operation</a></td>
    </tr>
</table>

<form action="" method="post">
    {# This will display the radio button HTML for you #}
    {{ display_type.as_p }}
    {# You'll need a submit button or similar here to actually send the form #}
</form>



  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>
  <ul>
  {% if filter.qs %}
  <table style="width:60%">
        <th> Name</th>
        <th> Amount</th>
        <th> Budget </th>
        {% for operation in filter.qs %}
                <tr>
                    <td class="operation_name"> {{ operation.name }} </td>
                    <td class="amount" nowrap> &euro; {{ operation.amount }}  </td>
                    <td class="budget" nowrap> {{ operation.budget }}  </td>
                </tr>
            </a>
        {% endfor %}
    </table>
    </ul>
{% else %}
    <p>No operations are available.</p>
{% endif %}
  </ul>
{% endblock %}