{% block content %}


<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bank/index.css' %}">

</head>


{% with 'search' as page_name %}
    {% include 'bank/header.html' %}
{% endwith %}



{% load widget_tweaks %}



  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>

    {% with filter.qs as operation_list %}
        {% include 'bank/display_operations.html' %}
    {% endwith %}

{% endblock %}