{% block content %}


<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bank/index.css' %}">

</head>


<table cellspacing="0" cellpadding="0">
    <tr>
        <td><a href="../">Current Operations</a></td>
        <td><a href="#">Search Operations</a></td>
        <td><a href="../add_operation">Add Operation</a></td>
    </tr>
</table>

<form action="" method="post">
    {# This will display the radio button HTML for you #}
    {{ display_type.as_p }}
    {# You'll need a submit button or similar here to actually send the form #}
</form>



  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>

    {% with filter.qs as operation_list %}
        {% include 'bank/display_operations.html' %}
    {% endwith %}

{% endblock %}